:host {
  display: block;
  --logo-height: auto;
}

.logo-container {
  display: block;
  padding: max(3mm, calc(var(--logo-height, 1em) * 0.75));
  background-color: transparent;
}

.logo-container.background {
  background-color: #0091D4;
}

.logo-container img {
  height: var(--logo-height);
  width: auto;
  min-height: 4mm;
}