:host {
  display: block;
  --logo-height-raw: auto;
  --logo-height: max(4mm, var(--logo-height-raw, 4mm));
  --logo-padding: calc(var(--logo-height) * 0.75);
}

.logo-container {
  display: block;
  padding: var(--logo-padding);
  background-color: transparent;
}

.logo-container.background {
  background-color: #0091D4;
}

.logo-container.vertical {
  transform: rotate(-90deg);
  transform-origin: top left;
}

.logo-container img {
  height: var(--logo-height);
  width: auto;
}