/* === BASE BUTTON === */
.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  font-family: 'Helvetica Neue LT Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;

  transition: background 0.3s ease, color 0.3s ease;
  color: inherit;
}



/* === SIZES === */
.btn--normal {
  height: 40px;
  padding: 13px 15px 10px;
  min-width: 79px;
}

.btn--big {
  height: 52px;
  padding: 19px 21px 16px;
  min-width: 79px;
}



/* === VARIANTS === */
.btn--blue {
  background-color: #0091D4;
  color: #ffffff;
}
.btn--blue:hover:not(.btn--disabled) {
  background: linear-gradient(90deg, #0091d4 0%, #0070a4 100%);
}

.btn--grey {
  background-color: #e5ebef;
  color: #0091d4;
}
.btn--grey:hover:not(.btn--disabled) {
  background: linear-gradient(90deg, #e5ebef -1.66%, #ccd6dd 100%);
}

.btn--dark {
  background-color: #1f2930;
  color: #ffffff;
}
.btn--dark:hover:not(.btn--disabled) {
  background: linear-gradient(90deg, #1f2930 0%, #4c6172 100%);
}

.btn--white {
  background-color: #ffffff;
  color: #0091D4;
}
.btn--white:hover:not(.btn--disabled) {
  background: linear-gradient(90deg, #FFFFFF 0%, #E5F4FA 98.02%);
}



/* === DISABLED STATE === */
.btn--disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}



/* === ICON MODES === */

.btn--icon-yes .btn__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  flex-shrink: 0;
}

.btn--icon-only {
  justify-content: center;
  align-items: center;
}
.btn--icon-only.btn--normal {
  padding: 8px;
  min-width: 0px;
  width: 40px;
  height: 40px;
}
.btn--icon-only.btn--big {
  width: 52px;
  height: 52px;
  padding: 14px;
}

.btn--icon-only .btn__icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}



/* === LABEL === */
.btn__label {
  display: inline-flex;
  align-items: center;
}
